@font-face {
    font-family: 'CentraNo2-Medium';
    src: url(../font/CentraNo2-Medium.ttf);
}

@font-face {
    font-family: 'CentraNo2-Book';
    src: url(../font/CentraNo2-Book.ttf);
}

@font-face {
    font-family: 'CentraNo2-Bold';
    src: url(../font/CentraNo2-Bold.ttf);
}

:root {
    --font-medium: 'CentraNo2-Medium';
    --font-book: 'CentraNo2-Book';
    --font-bold: 'CentraNo2-Bold';
    --grey-text: rgb(197, 197, 197);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'CentraNo2-Book', sans-serif;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    background-color: #121212;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #411E7A, #552753);
    border-radius: 10px;
}

header {
    height: 100vh;
}

#navegation {
    display: flex;
    padding: 60px;
    height: 9vh;
    background-color: rgb(18, 18, 18, 0);
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#nav-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav-buttons ul {
    display: flex;
    margin-right: 20px;
}

#nav-buttons ul li {
    margin-left: 3vw;
    list-style: none;
    font-size: 1.1rem;
}

.section-nav-link {
    text-decoration: none;
    color: var(--grey-text);
    transition: .3s;
}

.section-nav-link:hover {
    color: white;
}

.social-media {
    display: flex;
    margin: 0 20px;
    width: 143px;
    justify-content: space-around;
}

.social-media a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    padding: 14px;
    border-radius: 50%;
    background-color: rgb(32, 32, 32);
    margin-right: 6px;
    text-decoration: none;
    border: 1px solid rgba(197, 197, 197, 0.315);;
    text-align: center;
    font-size: 1.1rem;
    transition: .3s;
}

.social-media a:hover {
    scale: 1.2;
    border: none;
    background-color: #411E7A;
}

#language-button {
    background-color: transparent;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border:1px solid var(--grey-text);
    font-size: 1.2rem;
    cursor: pointer;
    transition: .2s;
}

#language-button:hover {
    background-color: #411E7A;
}

#contact-button {
    margin: 0 10px;
    background-color: transparent;
    height: 65px;
    width: 170px;
    border: 1px solid var(--grey-text);
    font-family: var(--font-bold);
    font-size: 1.1rem;
    cursor: pointer;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#contact-button:hover {
    background-image: linear-gradient(to right, #562350b0, #332067a6);
}

#header-presentation-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 90vh;
}

#presentation {
    width: 43vw;
}

#presentation div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--grey-text);
    background-image: linear-gradient(to right, #562350b0, #332067a6);
    margin-bottom: 20px;
    height: 50px;
    width: 250px;
}

#presentation div h4 {
    font-family: var(--font-medium);
    letter-spacing: 1px;
    word-spacing: 3px;
}

#presentation h1 {
    font-family: var(--font-medium);
    font-size: 3.5rem;
    line-height: 3.7rem;
    margin-bottom: 20px;
}

.typed-text {
    font-family: var(--font-bold);
    color: #7f46db;
}

.cursor {
    display: inline-block;
    background-color: rgba(204, 204, 204, 0.849);
    margin-left: 0.1rem;
    width: 4px;
    height: 65px;
    animation: blink 1s infinite;
}

.cursor.typing {
    animation: none;
}

@keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
}

#presentation p {
    color: var(--grey-text);
    font-size: 1.1rem;
    letter-spacing: 1px;
    line-height: 1.8rem;
    text-align: justify;
}

#presentation button {
    background-color: transparent;
    border: none;
    margin-top: 40px;
    font-family: var(--font-medium);
    font-size: 1.2rem;
    letter-spacing: 1px;
    word-spacing: 3px;
    cursor: pointer;
    transition: .3s;
    width:200px;
    height: 60px;
    transition: .3s;
}

#presentation button a {
    text-decoration: none;
}

#presentation button:hover {
    background-image: linear-gradient(to right, #562350b0, #332067a6);
    padding: 10px;
    scale: 1.05;
    border: 1px solid var(--grey-text);
}

#img-astronaut {
    height: 60vh;
    animation: updown 4s linear infinite;
}

@keyframes updown {
    0%   { transform: translateY(-30px); }
    50%  { transform: translateY(30px); }
    100% { transform: translateY(-30px); }
}

#header-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100vh;
}

#header-bg img {
    width: 100%;
}

#skills-bg {
    position: relative;
    display: flex;
    justify-content: center;
    height: 70vh;
    width: 100%;
    background-color: #121212;
    background-image: url("../img/color-sharp.png");
    background-repeat: no-repeat;
}

#skills-bg:target {
    scroll-margin-top: 12em;
}

#skills {
    position: absolute;
    bottom: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #151315;
    height: 70vh;
    width: 80vw;
    border-radius: 70px;
    padding-top: 50px;
}

#skills h2, #projects h2 {
    margin-bottom: 10px;
    font-size: var(--font-bold);
    font-size: 2.5rem;
    letter-spacing: 1px;
}

#skills p, #projects > p {
    font-size: 1.1rem;
    color: var(--grey-text);
    letter-spacing: 1px;
    word-spacing: 1px;
}

#technologies, #technologies > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    position: relative;
    margin: auto;
    padding: 0 10px;
}

.mySlides {
    display: none;
    height: 150px;
    width: 200px;
}

.mySlides h3 {
    margin: 10px auto;
    text-align: center;
}

.prev, .next {
    cursor: pointer;
    width: auto;
    height: 60px;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

#projects {
    display: flex;
    padding-top: 70px;
    flex-direction: column;
    align-items: center;
    background-color: rgb(1, 0, 1);
    height: 1050px;
}

#projects:target {
    scroll-margin-top: 3em;
}

#projects > p {
    width: 40vw;
    margin: 10px auto;
    text-align: justify;
}

#technologies-select {
    border: none;
    outline: none;
    background-image: linear-gradient(to right, #2e1557, #351833);
    width: 300px;
    height: 50px;
    border-radius: 5px;
    margin-top: 20px;
    padding-left: 10px;
    font-size: 1.2rem;
    color: var(--grey-text);
}

#technologies-select:focus {
    background-color: #151315;
}

#projects hr {
    margin: 20px auto;
    border: none;
    height: 1px;
    background-color: rgba(197, 197, 197, 0.315);
    width: 1000px;
}

#pages-buttons {
    display: flex;
}

#pages-buttons button {
    width: 220px;
    height: 50px;
    font-size: 1rem;
    word-spacing: 1px;
    border: 1px solid rgba(197, 197, 197, 0.315);
    background-color: #151315;
    cursor: pointer;
    border-right: none;
    margin-bottom: 40px;
}

#pages-buttons button:hover, #pages-buttons button:focus {
    background-image: linear-gradient(to right, #562350b0, #332067a6);
}

#pages-buttons button:first-child {
    border-radius: 20px 0 0 20px;
}

#pages-buttons button:last-child {
    border-radius: 0 20px 20px 0;
    border-right: 1px solid rgba(197, 197, 197, 0.315);
}

#projects-list {
    max-width: 750vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 260px;
    overflow: hidden;
}

.project-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
    width: 310px;
    transition: .5s;
    margin: 15px;
}

.project-container img {
    border-radius: 30px;
    height: 230px;
    width: 310px;
}

.project-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to top, #992d75e1, #2e1557ce);
    border-radius: 30px;
    opacity: 1;
    transition: opacity .2s linear;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.project-hover h3 {
    font-size: 2rem;
    font-family: var(--font-bold);
    text-align: center;
    word-wrap: break-word;
}

.project-hover p {
    font-style: italic;
    font-family: var(--font-bold);
    color: #ffffffcc;
}

.anchors {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;
}

.anchors a {
    text-decoration: none;
    margin-bottom: 3px;
    transition: .3s;
    font-family: var(--font-medium);
}

.anchors a:hover {
    scale: 1.05;
    text-decoration-line: underline;
    color: #2e1557;
}

.anchors a i {
    margin-right: 5px;
}

#connect {
    background-image: linear-gradient(to right, #992D75, #4929AC);
    height: 900px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#connect img {
    height: 55%;
}

#connect form {
    display: flex;
    flex-direction: column;
    height: 70%;
    min-width: 40%;
}

#connect form h1 {
    font-size: 3rem;
    font-family: var(--font-bold);
    margin-bottom: 30px;
}

#connect form div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2px;
}

.input-form {
    height: 60px;
    background-color: rgba(255, 255, 255, 0.08);
    outline: none;
    border: 1px solid rgba(197, 197, 197, 0.76);
    margin: 4px;
    border-radius: 20px;
    padding: 0 20px;
    letter-spacing: 1px;
    font-size: 1rem;
}

#connect form textarea {
    background-color: rgba(255, 255, 255, 0.08);
    outline: none;
    border: 1px solid rgba(197, 197, 197, 0.76);
    margin: 3px;
    border-radius: 20px;
    padding: 20px;
    letter-spacing: 1px;
    font-size: 1rem;
    resize: none;
}

.input-form::placeholder, #connect form textarea::placeholder {
    color: white;
}

#contact-submit-button {
    height: 55px;
    width: 130px;
    color: black;
    font-family: var(--font-bold);
    font-size: 1.1rem;
    margin-top: 40px;
    cursor: pointer;
    transition: .3s;
    border: none;
}

#contact-submit-button:hover {
    background-color: #7f46db;
    color: white;
}

footer {
    background-image: url('../img/footer-bg.png');
    background-repeat: no-repeat;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    padding: 0px 70px 80px 70px;
}

#my-contacts-bg {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 30vh;
}

#my-contacts {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 30px;
    width: 70vw;
    height: 320px;
    border-radius: 50px;
    background-color: white;
}

#my-contacts h3 {
    color: #121212;
    font-family: var(--font-bold);
    margin: 20px 0;
    font-size: 2.5rem;
}

#my-contacts address {
    margin-top: 60px;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
}

#my-contacts address a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0 20px;
    
}

#my-contacts address i {
    color: black;
    font-size: 3rem;
    margin: 0 10px;
}

#my-contacts h3, #my-contacts address, #my-contacts a {
    color: #121212;
}

footer > div {
    display: flex;
    justify-content: space-between;
}

footer > div > a {
    display: flex;
    align-items: flex-end;
}

#footer-left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

footer div p {
    margin: 20px 20px 0 20px;
    letter-spacing: 1px;
}

.display-none {
    display: none !important;
}


/* DISPOSITIVOS MOVEIS
 
    Smartphones
*/
@media screen and (max-width: 576px) {

    #navegation {
        padding: 0 10px;
        height: 10vh;
        justify-content: space-between;
    }

    #navegation {
        width: 100vw;
    }

    #navegation > a {
        scale: 0.8;
    }

    #nav-buttons {
        justify-content: center;
    }

    #nav-buttons ul, #contact-button {
        display: none;
    }

    .social-media {
        scale: 1;
        margin: 0;
    }
    
    #language-button {
        scale: 0.9;
    }

    header {
        height: 100vh;
    }

    #header-presentation-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding-top: 230px;
    }

    #img-astronaut {
        scale: 0.5;
    }

    #presentation {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        margin-top: -100px;
    }

    #presentation > div {
        margin: 0 auto 30px auto;
    }

    #presentation > h1 {
        font-size: 2.5rem;
        line-height: 3rem;
        margin: 0 auto 30px auto;
        text-align: center;
        width: 90vw;
        height: 130px;
    }
    
    #presentation > p {
        width: 85vw;
    }

    #presentation button {
        background-image: linear-gradient(to right, #562350b0, #332067a6);
        padding: 10px;
        scale: 1.05;
        border: 1px solid var(--grey-text);
    }

    .cursor {
        height: 40px;
    }

    #header-bg {
        height: 300vh;
        background-image: url("../img/bg-mobile.jpg"), url("../img/bg-mobile-rotated.jpg");
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat, repeat-y;   
    }

    #header-bg img {
        display: none;
    }

    #skills-bg {
        top: 40vh;
        height: 100vh;
    }

    #skills {
        bottom: 50px;
        height: 100vh;
        width: 90vw;
        border-radius: 40px;
        justify-content: center;
    }

    #skills p {
        text-align: center;
    }

    #technologies {
        width: 100%;
    }

    #technologies > div {
        flex-direction: column;
    }

    .mySlides {
        margin: 25px;
    }

    .mySlides img {
        height: 80% !important;
        width: 80% !important;
        margin-left: 20px;
    }
    
    #projects {
        padding-top: 400px;
        padding: 400px 10px 0 10px;
        height: 200vh;
    }

    #projects p {
        width: 80vw;
    }

    #projects hr {
        width: 90%;
    }

    #pages-buttons button {
        width: 90px;
    }

    #projects-list {
        grid-template-columns: 1fr;
        grid-auto-rows: 240px;
        width: 90vw;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-bottom: 40px;
    }

    .project-container {
        scale: 0.9;
        margin: auto;
    }

    .project-hover {
        text-align: center;
    }

    #connect {
        padding: 0 5px;
        flex-direction: column;
        height: 140vh;
        justify-content: unset;
    }

    #connect > img {
        scale: 0.45;
        margin: -130px 0;
    }

    #connect form h1 {
        text-align: center;
        font-size: 2.5rem;
    }
    
    #contact-submit-button {
        align-self: center;
    }

    .input-form {
        width: 95%;
    }

    #my-contacts {
        width: 90%;
        justify-content: center;
    }

    #my-contacts address {
        flex-direction: column;
        align-items: flex-start;
        font-size: 1rem;
        margin-top: 20px;
    }

    footer {
        padding: 0px;
    }

    footer > div > a {
        margin: 30px;
        margin: 0 0 15px 10px;
        scale: 0.9;
    }

    #footer-left-container {
        margin-bottom: 10px;
        width: 40%;
    }

    #footer-left-container p {
        text-align: end;
        scale: 0.8;
        margin: 0;
    }
}